node_modules/
**/node_modules/

.env
**/.env
production.env

*.pem
*.key
*.crt
*.cert
opensearch/production/certs/*.pem
opensearch/development/certs/*.pem

# Docusaurus
docs-site/.docusaurus/
docs-site/build/

output/*
ids.txt
companies.gds